<div class="root">
  <div class="root-header">
    <h1>Stacks</h1>
    <div>
      <button mat-flat-button class="button-end" (click)="onAddStack()">
        Create Stack
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <ng-container *ngIf="stacks.length > 0">
    <div *ngFor="let stack of stacks; let last = last">
      <div class="stack-container">
        <button
          mat-flat-button
          class="button-start"
          (click)="goToCards(stack._id)"
        >
          Edit Cards
        </button>
        <h2 style="margin-left: auto; margin-right: auto">
          {{ stack.name }}
        </h2>
        <div>
          <button mat-flat-button (click)="onUpdateStack(stack._id)">
            Edit Stack
          </button>
          <button
            mat-flat-button
            color="warn"
            class="button-end"
            (click)="onDeleteStack(stack._id)"
          >
            Delete Stack
          </button>
        </div>
      </div>
      <mat-divider *ngIf="!last"></mat-divider>
    </div>
  </ng-container>
</div>
