<div>
  <h1>Stacks</h1>
  <ng-container *ngIf="stacks.length > 0;">
    <div *ngFor="let stack of stacks">
      <div>
        <h2>{{ stack.name }}</h2>
        <button mat-button (click)="goToCards(stack._id)">
          Edit Cards
        </button>
        <button mat-button (click)="onDeleteStack(stack._id)">
          Delete Stack
        </button>
      </div>
    </div>
  </ng-container>
  <div>
    <h2>Create Stack</h2>
    <button mat-raised-button (click)="onAddStack()">
      Create Stack
    </button>
  </div>
</div>
