<div class="dialog-root">
  <mat-form-field>
    <input
      matInput
      placeholder="Name"
      value="{{ stackName }}"
      [(ngModel)]="stackName"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Description"
      value="{{ description }}"
      [(ngModel)]="description"
    />
  </mat-form-field>
  <mat-checkbox [(ngModel)]="published">Published</mat-checkbox>
  <div class="dialog-buttons">
    <button mat-flat-button (click)="updateStack()">Update</button>
    <button mat-flat-button color="warn" (click)="close()">Abort</button>
  </div>
</div>
