<nz-footer>
  <div nz-row nzJustify="space-between" nzAlign="middle">
    <div nz-col>
      <p nz-typography>
        Copyright ©
        <a href="https://www.devhoops.org" target="_blank" color="inherit">
          DevHoops
        </a>
        {{ currentYear }}.
      </p>
    </div>

    <div nz-col>
      <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="16">
        <div nz-col>
          <p nz-typography>Follow us</p>
        </div>
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            (click)="openLink('https://github.com/devhoops')"
          >
            <span nz-icon nzType="github" nzTheme="outline"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nz-footer>
