<nz-header
  style="display: flex; flex-direction: row; justify-content: space-between"
>
  <div class="logo" (click)="goHome()">
    <img
      src="learnstack-dark.svg"
      alt="logo"
      style="width: 50px; height: 50px"
    />
    <span style="width: 100%">LEARNSTACK</span>
  </div>
  <ul nz-menu nzTheme="dark" nzMode="horizontal">
    <ng-container *ngIf="loggedIn">
      <li
        nz-menu-item
        [nzSelected]="activeRoute == 'stacks' || activeRoute == 'cards'"
      >
        <a class="nav-bar-button" routerLink="/stacks">My Stacks</a>
      </li>
      <li nz-menu-item [nzSelected]="activeRoute == 'forum'">
        <a class="nav-bar-button" routerLink="/forum">Forum</a>
      </li>
      <li nz-menu-item [nzSelected]="false">
        <a class="nav-bar-button" (click)="logout()">Logout</a>
      </li>
    </ng-container>
    <ng-container *ngIf="!loggedIn">
      <li nz-menu-item [nzSelected]="activeRoute == 'register'">
        <a class="nav-bar-button" routerLink="/register">Register</a>
      </li>
      <li nz-menu-item [nzSelected]="activeRoute == 'login'">
        <a class="nav-bar-button" routerLink="/login">Login</a>
      </li>
    </ng-container>
  </ul>
</nz-header>
